section {
    margin-top: 43px;
}
.protfolio_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
    margin-top: 76px;
}
.portfolio_item{
    background: linear-gradient(45deg,lightblue,#7094ce);
    padding: 1.3rem;
    border-radius:2rem ;
    border: 1px transparent;
    transition: var(--transition);
}
.portfolio_item:hover{
    background: transparent;
    border: 1px solid black;
}
.portfolio_item_img img{
border-radius: 1.5rem;
overflow: hidden;
margin-left: 28%;
}
.portfolio_item h3{
    margin: 1.2rem 0 2rem;
    justify-content: center;
    text-align: center;
}
.portfolio_item-cta{
    justify-content: center;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.portfolio_item_img img{
    width: 42%;
}

@media only screen and (max-width: 1024px)  {
    .protfolio_container{
        grid-template-columns: 1fr 1fr;
        gap:1.2rem
    }

}

@media only screen and (max-width: 1024px)  {
    .protfolio_container{
        grid-template-columns: 1fr 1fr;
        gap:1.2rem
    }

}

@media only screen and (max-width: 600px)  {
    .protfolio_container{
        grid-template-columns: 1fr;
        gap:1rem
    }

}

