section{
    
    padding-top: 2rem;
}
#about{
    height: 100%;
    width: 100%;
    position: relative;
}
.container_about_background{
    /* height: 55vh; */
    background-image: url("../../assets/about_background.jpg");
    position: static;
    height: 100%;
    width: 91%;
    /* opacity: 0.71; */
    /* transition: background 0.3s, border-radius 0.3s, opacity 0.3s; */
  
    background-position: center center;
    background-repeat: no-repeat;
    background-size:contain;
    background-attachment: fixed;
    /* border-radius: 10%; */
}
.about_section{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container_about{
    height: 39rem;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0),#28282B);
    
}
.container .card{
    /* position: relative; */
    width: 100%;
    /* height: 650px; */
    /* margin: 10px; */
    /* transition: 0.5s; */
    justify-content: flex-start;
    align-items: center;
}
.container .card img{
    /* position:absolute; */
    bottom: 0;
   /* transform: translate(37%); */
    height: 605px;

}

.about_pic{
    display: flex;
    justify-content: center;
    position: absolute;
    height: 15rem;
    bottom: 26%;
    z-index: 10;
}
.container .card .content{
    position: relative;
    width: 50%;
    left: 10%;
    padding: 20px 20px 20px 20px;
    opacity: 0;
    visibility: hidden;
}

.container .card .content h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 2.2em;
    line-height: 1em;
}
.container .card .content p{
    color: #fff;
}
.container .card .content a{
    position: relative;
    color: #111;
    background: #fff;
    display: inline-block;
    padding: 10px 10px ;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 700;
}




.container .card:hover .content{
    left: 0;
    opacity: 1;
    visibility: visible;
}

.pictures{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pictures img{
width: 42%;
}

#backg2{
    /* position: absolute; */
    width: 90%;
    height: 97%;
    border-radius: 8rem;
    right: 43%;
    top: -4%;
}

.about_content{
    margin: 10%;
}

#mypic{
    height: 394px;
    /* overflow: hidden; */
    width: 337px;
    margin-bottom: 90px;
    margin-left: 27%;
    border-radius: 0px 0px 129px 0px;
}

.about_cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.about_card{
    /* background: lightblue; */
    border: 1px solid sandybrown;
    background: linear-gradient(#28282B, #1c1c1e);
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: background-color 2s, color 2s, border-color 2s;
}
.about_card:hover{
    
    background: #6ce5b1;
    color: #111;
    border-color: #111;
}
.about_icon{
    font-size: 1.4rem;
}
.about_card small{
    font-size: 0.9rem;
}
.about_content p{
    margin: 2rem 0 2.6rem;
    font-family: cursive;
}

/** cloud **/
.cloud{ 
    color: white;
    background: white;
    margin-top:70px;
    width:350px;
    height:240px;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    border-radius:100px;
 }
 .cloud::after, .cloud::before{
     content:"";
     position:relative;
     display:inline-block;
     background:inherit;
     border-radius:inherit;
 }
 .cloud::after{
     width:100px;
     height:100px;
     top:-120px;
     right:120px;
     z-index: 1;
 }
 .cloud::before{
     width:180px;
     height:180px;
     top: -70px;
     left:130px;
 }

@media only screen and (max-width: 1080px){
    #backg2 {
        width: 85%;
    }
    #mypic {
        height: 383px;
    }

}
.animated{
    animation-duration: 1.5s;
  animation-name: rotating-card;
     opacity: 1; 
}

  @keyframes rotating-card {
    0% {
        opacity: 0;
    transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 0.5;
      }
    100% {
      opacity: 1;
    }
  }

.active {
    opacity: 0;
    visibility: hidden;
  }
  
  .activeanimation {
    opacity: 1;
    visibility: visible;
  }
.container_about_second{
    opacity: 0;
    visibility: hidden;
    display: none;
}
  @media only screen and (max-width: 1024px){
    .about_card {
        padding: 1.5rem;
    }
    .container_about {
        height:26rem;
    }
    .container_about_background {
    background-position: 35% 51%;
    }
  
}
/*=========== SMALL DEVICES==================*/



@media only screen and (max-width: 900px){
    .container_about {
        height: auto;
    }
    .container_about_background{
        background-position: 32% 26%;
        }
        .container_about {
            height: 38vh;
        }


   .container_about_background> .container_about>.about_content{
    visibility: hidden;
    opacity: 0;
    height: 0px;
    margin: 0px;
    display: none;
    }

    .container_about_second{
        opacity: 1;
        visibility: visible;
        display: contents;
    }
    .container_about{
    display: block;
    }
    .card{
        width: auto;
        height: auto;
    }
    .container .card{
        width: auto;
    }
    .container .card img{
        transform: translate(20%);
    }
    #backg2 {
        display: flex;
        right: 6rem;
    /* bottom: 2rem; */
    top: 0rem;
    position: relative;
        width: 90%;
        /* margin-left: 9rem; */
        height: 108.5%;
    }
    #backg {
        margin-left: 14%;
        width: 37%;
        height: 54%;
    }

  }
  @media screen and (min-width: 750px)and (max-width:1335px) and (min-height: 1700px)and (max-height:1950px) {

    .container_about_background {
        background-position: 32% 46%;
    }
    .container_about {
        height: 20vh;
    }
    .container_about_second {
        opacity: 1;
        visibility: visible;
        display: block;
        
    }
    .container_about_background> .container_about>.about_content{
        display: none;
    }
}

  @media screen and (min-width: 800px) and (max-width: 1025px) and (min-height: 1023px) and (max-height: 1369px) {

    .container_about_second {
        opacity: 1;
        visibility: visible;
        display: block;
        
    }
    .container_about_background {
        background-position: 35% 67%;
    }
    .container_about {
        height: 26vh;
    }
   .container_about_background> .container_about>.about_content{
        display: none;
    }
}


  @media only screen and (max-width: 750px){
    .container_about_background{
        background-position: 32% 19%;
        }
        .container_about{
        height: 189px;
    }


    #backg2 {
        top: 1rem;
           width: 100%;
           margin-left: 3rem;
           margin-bottom: 0rem;
           height: 90.5%;
       }
    #backg {
        height: 16rem;
        margin-left: 18%;
    }
    #mypic {
        height: 359px;
        border-radius: 0px;
    }
  }
  
@media only screen and (max-width: 165px){
    .me #photo, #me {
    right: 10%;
    bottom: 34%;
    }
}
/*   
  @media only screen and (max-width: 650px){
    .container .card {
        height: 415px;
    }
    #backg2 {
        width: 64%;
        margin-left: 4rem;
        margin-bottom: 3rem;
        height: 84.5%;
        margin-bottom: 6rem;
    }
    #mypic {
        height: 279px;
        border-radius: 0px;
        margin-left: 22%;
    }
    #backg {
        width: 46%;
        height: 15rem;
        margin-left: 12%;
    }
}

@media only screen and (max-width: 530px){

    #mypic {
        height: 279px;
        margin-left: 12%;
    }
    #backg {
        width: 45%;
        height: 13rem;
        margin-left: 12%;
    }
    #backg2 {
        width: 64%;
        margin-left: 2rem;
        margin-bottom: 3rem;
        height: 86.5%;
        margin-bottom: 4.7rem;
  }
}


  @media only screen and (max-width: 450px){
    #mypic {
        height: 261px;
        width: 323px;
        margin-left: -1%;
    }
    #backg {
        width: 53%;
        height: 15rem;
        margin-left: 9%;
    }
    #backg2 {
        width: 96%;
        margin-left: -4rem;
        margin-bottom: 3rem;
        height: 72.5%;
        margin-bottom: 7.7rem;
}
.about_content {
    margin-top: 0;
    margin-right: 0;
    padding: 2rem 2rem;
}
  } */



  @media screen and (min-width: 900px) and (min-height: 2000px) {

    .container_about_background {
        background-position: 32% 42%;
    }
    .container_about {
        height: 20vh;
    }

    .container_about_second {
        opacity: 1;
        visibility: visible;
        display: block;
        
    }
   .container_about_background> .container_about>.about_content{
        display: none;
    }
}

@media screen and (min-width: 1330px) and (min-height: 2000px) {
    .container_about_background {
background-position: 32% 54%;
}
.container_about {
    height: 27vh;
}

}


