header{
    height: 100vh;
    padding-top: 1.2rem;
    overflow: hidden;
}
.header_container{
    text-align: center;
    justify-content: center;
    height: 100%;
    position: relative;
}
.text-light{
    
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    position: relative;
    display: grid;
    place-items: center;
}

.text-light::before{
    content:"Frontend";
    width: 100%;
    color: #2ed573;
    position: absolute;
    top: 0;
    margin-right: 6.8%;
    border-right: .2rem solid #2ed573;
    animation: slide .5s ease-in-out infinite;
    -webkit-animation: slide 1.8s ease-in-out infinite;
     overflow: hidden;
}

@keyframes slide{
    0%{
        width: 0%;
    }
    60%{
        width: 7%;
    }
    100%{
        width: 0%;
    }
}

/*========cta========*/
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}



/*========header__socials=======*/
 .header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 0.8rem;
    position: absolute;
    justify-content: center;
    left: 0;
    top: 25rem;
    
}
.header__socials::after{
    
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}
#photo,#me{
    width: 22rem;
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    margin-top: 2.2rem;
    border-radius: 20rem 20rem 0 0;
}
#photo{
    height: 21rem;
}


@media only screen and (max-width: 650px)  {
    .header__socials {
    flex-direction: row;
    margin-top: 0;
    top: 20px;
    position: relative;
    }
    .header__socials::after{
        display: none;
    }


}