header{
    /* height: 95vh; */
    /* padding-top: 1.2rem; */
    overflow: hidden;
}
#header{
    height: 100%;
}
.header_container{
    text-align: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

h1{
    text-transform: uppercase;
    animation-duration: 2s;
    animation-name: rotating-text-1 ;
    /* opacity: 0; */
}
@keyframes rotating-text-1 {
    0% {
      transform: translateY(-30%);
    }
    50% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  .personal_sec>h5 , .btn{
    animation-duration: 2s;
    animation-name: rotating-text-2;
       opacity: 1; 
  }
  
    @keyframes rotating-text-2 {
      0% {
          opacity: 0; 
      }
      33%{
          opacity: 0;
      }
      50% {
          opacity: 0.5;
        }
      100% {
        opacity: 1;
      }
    }

  .personal_sec .hidden{
    opacity: 0;
    visibility: hidden;
  }
  .personal_sec .visible{
    opacity: 1;
    visibility: visible;
  }
.text{
    display: flex;
   justify-content: center;
}
.developer{
    margin-left: 2%;
    color: #fff;
    text-transform: uppercase;
}
.text-light{
    text-transform: uppercase;
    position: relative;
}

.text-light::before{
    content:'TechBuilder';
    color: #C6E0FF;
    position: absolute;
    top: 0;
    margin-right:0 ;
    border-right: .2rem solid #2ed573;
    animation: slide 1.5s ease-in-out infinite;
    -webkit-animation: slide 1.8s ease-in-out infinite;
     overflow: hidden;
}
.grid_section{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* height: 600vh; */
    /* margin-top: 4rem; */
}
.photo_section{
    box-shadow: inset 20px 20px 20px rgba(0,0,0,.05), 25px 35px 20px rgba(0,0,0,.05);
    /* height: 95vh; */
    background-color: #D3F9B5;
    transform: skew(-11deg);
   
    width: 81%;
    margin-left: 29%;
    overflow: hidden;
}
#anim {
    -webkit-clip-path: polygon(16% 0,100% 0,83% 100%,0 100%);
    clip-path: polygon(16% 0,100% 0,83% 100%,0 100%);
    display: inline-block;
    overflow: hidden;
    position: relative;
}
#anim:before {
    -webkit-animation: showBlack 2s ease forwards, showImg 3s ease forwards;
    animation: showBlack 2s ease forwards, showImg 3s ease forwards;
    background-color:#6ce5b1; /* #000;  Black color for the overlay */
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
  
 
  @keyframes showImg {
    0% {
      left: 0;
      width: 0;
    }
    50% {
      left: 0;
      width: 100%;
    }
    100% {
      left: 100%;
      width: 0;
    }
  }
   @keyframes showBlack {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
/* #anim:before {
    -webkit-animation: showImg 3s ease;
    animation: showImg 3s ease;
    background-color: #6ce5b1;
    background-color: #6ce5b1;
} */

/* #anim:before {
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
@keyframes showImg {
    0% {
        left: 0;
        width: 0;
    }
    50% {
        left: 0;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 0;
    }
    
} */

@keyframes slide{
    0%{
        width: 0%;
    }
    50%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}

/*========cta========*/
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}



/*========header__socials=======*/
 .header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 0.8rem;
    position: absolute;
    justify-content: center;
    left: 0;
    top: 14rem;
}
.visible {
    animation: rotate .8s ease-in-out ;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.header__socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
    transform:  rotate(60);
}
.me #photo,#me{
    transform: skew(9deg);
    width: 98%;
    position: absolute;
    /* left: 50%; */
    /* transform:translateX(-50%); */
    /* margin-top: 6rem; */
    border-radius: 10% 10% 0 0;
    right: 11%;
}
.me #photo{
    height: 21rem;
}
.grid_section_mobile{
    display: grid;
    grid-template-rows: 1fr 2.5fr .7fr;
    /* height: 600vh; */
    /* margin-top: 4rem; */
}
.personal_sec{
    padding-top: 36%;
     margin-left:4rem;
    margin-bottom: 12%;
}
.me{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    margin-top: 12%;
}

@media only screen and (min-width: 1330px)  {
    .personal_sec{
        margin-bottom: 42%;
    }
    .me{
        margin-top: 6%;
    }
    .header__socials {
    top: 20rem;
    }
}
@media only screen and (max-width: 750px)  {
    header{
        height: auto;
    }
    .cta {
      margin-top:2rem;
    }
    .personal_sec{
        padding-top: 11%;
    margin-left: 1rem;
    margin-bottom: 3%;
    }
    .me{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0%;
    }
.me #photo, #me {
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    position: relative;
    /* bottom: 28%; */
    transform: skew(0deg);
    display: flex;
    justify-content: center;
    right: 0%;
}
    .header__socials {
    flex-direction: row;
    margin-top: 0;
    top: 0px;
    position: relative;
    }
    .header__socials::after{
        display: none;
    }
    #photo,#me{
        width: 18rem;
        border-radius: 9%;
    }


}
/* @media only screen and (max-width: 1600px)  {
    .photo_section{
        height: 90vh;
    }
    header{
        height: 91vh;
    }
} */
/* @media only screen and (max-width: 1500px)  {
    .photo_section{
        height: 80vh;
    }
    header{
        height: 81vh;
    }
} */
