section>h5{
    color: #DDFC74;
}
section>h2{
    color: white;
}
.experience_container{
    margin-top: 73px;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
}
.experience_fontend{
        border: 1px solid sandybrown;
background: linear-gradient(#28282B, #1c1c1e);
padding: 2.4rem 1rem;
border-radius: 2rem;
transition: background-color 2s, color 2s, border-color 2s;
}
.experience_fontend:hover{
    background: #c0deab;
    color: #111;
    border: 1px solid black;
}

.experience_container .experience_fontend h3{
    text-align: center;
    margin-bottom: 2rem;
}
.experience_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}
.experience_details{
    display: flex;
    gap: 1rem;
}
.icon{
    margin-top: 6px;
}
@media only screen and (max-width: 1024px)  {
    .experience_container{
        grid-template-columns: 1fr;
        gap:1rem
    }

}
@media only screen and (max-width: 975px)  {
    
    .experience_container {
        margin-top: 73px;
        display: flow-root;

}
.experience_fontend {
    margin-bottom: 2rem;
}
}
@media only screen and (max-width: 330px)  {
    .experience_fontend {
        width: 134%;
    }
}