
.navbar{
   width: max-content;
   display: block;
   padding:0.7rem 1.7rem ;
   z-index: 2;
   left: 50%;
   transform: translateX(-50%);
   position: fixed;
   bottom: 1rem;
   display: flex;
}
.navigation{
    width: auto;
    height: auto;
    border-radius: 10px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}



.contain .navigation ul li a:hover{
    background-color: #efefefef;
}


.contain .navigation ul{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #6843cf;
    font-weight: 500;
    
}

.contain .navigation ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 45px;
    z-index: 1;
}

.contain .navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 45px;
    text-align: center;
    transition: 0.5s;
}
.contain .navigation ul li a:hover{

    background: lightblue;
    justify-content: center;
    display: flex;

}


.contain .navigation ul li a .icon .fas{
    font-size: 24px;
}


.contain .navigation ul li a .title{
    color: #333;
    position: absolute;
    top: -60px;
    left: 10%;
    transform: translate(-30%,25%);
    background: #fff;
    width: auto;
    padding: 2px 10px;
    border-radius: 6px;
    box-shadow:0 5px 15px rgba(0, 0, 0, 0.1) ;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}


.contain .navigation ul li:hover a .title{
    opacity: 1;
    visibility: visible;
}
.contain .navigation ul li a .title::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: #fff;
    bottom: -5px;
    left: 48%;
    transform: rotate(45deg) translateX(-30%);
    border-radius: 2px;
}

.navigation ul .indicator{
    position: absolute;
    left: 0;
    width: 70px;
    height: 45px;
    transition: 0.5s;
}


.navigation ul li.active a .icon{
    color: #fff;
}

@media only screen and (max-width: 650px){
    .navbar{
        bottom: 0.3rem;
    }
}


.color1{
    color: #c7ddcc;
}
.color2{
    color: #abd699;
}
.color3{
    color: #05c46b;
}
.color4{
    color: #75c9b7;
}
.color5{
    color: #f6ebf4;
}